<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="windowBean" class="com.kirinpatel.simsum.gui.Window">
    </bean>
    <bean id="fileSelectorBean" class="com.kirinpatel.simsum.gui.FileSelector">
    </bean>
    <bean id="ocrBean" class="com.kirinpatel.simsum.util.OCR">
    </bean>
</beans>